@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-almost-white: hsl(0, 0%, 98%);
  --clr-neutral-medium-gray: hsl(0, 0%, 41%);
  --clr-neutral-almost-black: hsl(0, 0%, 8%);

  --ff-primary: "Epilogue", sans-serif;

  --fs-p: 1.125rem;

  --fw-500: 500;
  --fw-700: 700;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility */

.container {
  padding: 0 calc(var(--spacer) * 2);
  max-width: 80rem;
  margin: 0 auto;
}

.container-lg {
  padding: 0 var(--spacer);
  max-width: 100rem;
  margin: 0 auto;
}

.split {
  display: flex;
  gap: var(--spacer);
}

.split > * {
  flex-basis: 100%;
}

.btn {
  display: inline-block;
  border: solid 2px;
  border-radius: 1rem;
}

.header-btn {
  padding: 0.5em 1rem;
  border-color: var(--clr-neutral-medium-gray);
}

.header-btn:hover {
  border-color: var(--clr-neutral-almost-black);
}

.hero-btn {
  padding: 1rem 2rem;
  background-color: var(--clr-neutral-almost-black);
  color: var(--clr-neutral-almost-white);
  font-weight: var(--fw-700);
}

.hero-btn:hover,
.hero-btn:active {
  background-color: var(--clr-neutral-almost-white);
  color: var(--clr-neutral-almost-black);
}

/* General */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  background-color: var(--clr-neutral-almost-white);

  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

a {
  color: var(--clr-neutral-medium-gray);
  text-decoration: none;
  font-weight: var(--fw-500);
  letter-spacing: -0.05rem;
}

a:hover {
  color: var(--clr-neutral-almost-black);
}

h1 {
  font-size: 5rem;
}

h1 span {
  display: block;
}

/* Header */

header {
  padding: var(--spacer) 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) * 2.5);
}

.nav-list,
.header-right {
  display: flex;
  gap: var(--spacer);
  gap: calc(var(--spacer) * 2.5);

  align-items: center;
}

.nav-list img {
  display: inline;
  margin-left: 0.25rem;
  margin-bottom: 0.15rem;
}

.nav-list a {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
}

/* Hero */

.hero-left {
  display: grid;
  grid-template-rows: 1fr auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: calc(var(--spacer) * 3);
}

.logos {
  display: flex;
  align-items: center;
  gap: var(--spacer);
  flex-wrap: wrap;
  margin-top: var(--spacer);
}

.hero-img-container {
  display: flex;
  justify-content: center;
}

.hero-img-container img {
  max-height: 80vh;
}

/* Footer */

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
